@import url('reset.css');

body {
    margin: auto;
    font-size: 16px;
}
.container {
    text-align: center;
    width: 1200px;
    margin: auto;
    height: 400px;
    display:flex;
}
div {
    box-sizing: border-box;
    outline: solid 1px black;
    overflow: hidden;
}
.firstLine {
    background: #F6FFD4;
}
.secondLine {
    background-color: #DAFBF7;
}
.secondLeft div{
    width: 800px;
    height: 50%;
}
.secondRight div {
    width: 400px;
    height: 33.333334%;
}
.thirdTop {
    height: 200px;
}
.thirdLeft div{
    height: 400px;
}
.thirdLine {
    background-color: #F9E6F9;
}
.thirdDown {
    height: 200px;
    display:flex;
}
.downRight div{
    height: 50%;
}
