@import url('reset.css');

body {
    margin: auto;
    font-size: 16px;
}
.container {
    text-align: center;
    width: 1200px;
    margin: auto;
}

.firstLine {
    height: 400px;
    background: #F6FFD4;
}
div {
    height: 100%;
    outline: solid 1px black;
}
p {
    padding: 20px;
}
.firstLine div {
    float: left;
    width: 400px;
}

.secondLine {
    background:#DAFBF7;
    height: 400px;
}

.secondLine > div {
    float: left;
}
.secondLeft div {
    width: 800px;
    height: 200px;
}
.secondRight div {
    height: 33.333333%;
    width: 400px;
}

.thirdLine {
    background: #F9E6F9;
    height: 400px;
}

.thirdLine > div {
    float: left;
}

.thirdLeft {
    width: 400px;
}

.thirdTop {
    width: 800px;
    height: 200px;
}

.thirdDown {
    width: 800px;
    height: 200px;
}

.thirdDown > div {
    float: left;
    width: 400px;
}

.thirdDown div + div div {
    height: 100px;
}